body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-align: justify;
  background-color: peachpuff;
}
h1 {
  color: orange;
  text-align: center;
}
h2 {
  color: darkcyan;
  font-style: italic;
  text-align: center;
}
h3 {
  text-align: center;
  color: orangered;
  font-size: 20px;
  line-height: 20px;

}
p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-style: oblique;
  text-align: justify;
}
ul {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: rebeccapurple;
}
ol {
  color:rebeccapurple;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}